@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

body {
    overflow: hidden;
}

h2 {
    font-weight: normal;
}

.button {
    @apply .select-none .uppercase .font-bold .font-bold .py-2 .px-6 .border-b-4 .rounded;
}

.button-gray {
    @apply .bg-gray-300 .border-gray-500;
}

.button-gray-pressed {
    @apply .bg-gray-500;
}

.button:active {
    @apply .border-b-2 .border-t-2;
}
